/// <reference path="../core/colors"/>
/// <reference path="../core/mixins"/>
/// <reference path="../core/sizes"/>
.button {
  background-color: $cl-grey;
  border: 1px solid $cl-grey;
  border-radius: 10px;
  color: #FFF;
  display: block;
  font-size: $fz-h5;
  height: 40px;
  width: 200px;

  @include box-sizing(border-box);

  &.primary {
    background-color: $cl-primary;
    border: 1px solid $cl-primary;

    &:hover {
      background: lighten($cl-primary, $cl-shade-1);
    }
  }

  &:hover {
    background: lighten($cl-grey, $cl-shade-1);
  }

  &,
  &:hover:active,
  &:hover,
  &:active {
    padding: 0;
  }
}