/// <reference path="../core/colors"/>
/// <reference path="../core/mixins"/>
/// <reference path="../core/sizes"/>
body {
  padding-top: $sz-navigation-after;
}

.navigation {
  min-width: $sz-xs;
  position: absolute;
  width: 100%;
  top: 0;
  background: lighten($cl-grey, $cl-shade-3);
  padding-top: $sz-navigation-after;
  box-shadow: 0 0 10px 2px $cl-shadow;

  >.container {
    margin: -$sz-navigation-after auto $sz-navigation-after auto;
    height: 0;
    overflow: hidden;
    @include transition(height 1000ms);
  }

  &.open>.container {
    height: $sz-navigation;
    @include transition(height 1000ms);
  }

  header>h1 {
    text-align: center;
  }

  section {
    ul {
      display: inline-block;
      text-align: left;
    }
  }

  &,
  &-slide {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1000;
  }

  &-slide {
    background: lighten($cl-grey, $cl-shade-3);
    border-bottom: 1px solid $cl-primary;
    border-top: 1px solid lighten($cl-grey, $cl-shade-2);
    height: $sz-navigation-after;
    margin-top: -($sz-navigation-after + 1px);
    cursor: pointer;

    ul {
      list-style: none;
      display: block;
      margin: 0 auto;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        height: $sz-navigation-list;
        width: $sz-navigation-list;
        border-radius: $sz-navigation-list;
        margin: 10px 5px;
        background: $cl-tertiary;
      }
    }

    &:hover {
      background: lighten($cl-grey, $cl-shade-2);

      ul li {
        background: $cl-secondary;
      }
    }
  }
}