/// <reference path="../core/colors"/>
.c-password {
  input,
  hr {
    width: 100%;
  }

  &-bar {
    input {
      border-radius: 2px 2px 0 0;
    }

    hr {
      border: 1px solid $cl-primary;
      border-radius: 0 0 2px 2px;
      border-top: 0;
      box-sizing: border-box;
      margin: 0;
      overflow: hidden;
      padding: 3px;
      position: relative;

      &::after {
        background: $cl-password-weak;
        content: ' ';
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5%;
      }
    }

    &.weak hr:after {
      background: $cl-password-weak;
      width: 25%;
    }

    &.medium hr:after {
      background: $cl-password-medium;
      width: 50%;
    }

    &.good hr:after {
      background: $cl-password-good;
      width: 75%;
    }

    &.excellent hr:after {
      background: $cl-password-excellent;
      width: 100%;
    }
  }
}