.password {
  border: 1px dotted $cl-primary;
  padding: 20px;

  input {
    display: block;
    width: 100%;
  }

  &-img {
    margin: 20px auto 0;
    max-width: 600px;
    position: relative;

    a {
      display: none;
      font-size: $fz-h1;
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    &:hover a {
      display: block;

      &::after {
        background: rgba(0, 0, 0, .3);
        content: ' ';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
}