@font-face {
  font-family: "TakaoPGothic";
  src: url("/fonts/TakaoPGothic.ttf");
}

@font-face {
  font-family: "TakaoPMincho";
  src: url("/fonts/TakaoPMincho.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/RobotoCondensed-VariableFont_wght.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;

  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;

  font-style: italic;
}

:root {
  font-family: Roboto, TakaoPMincho, "sans-serif";
  color: var(--color-text);
  font-size: 16px;

  /* Colors */
  --color-white: #FFFFFF;
  --color-primary: #FF8859;
  --color-secondary: #E80C7A;
  --color-tertiary: #00B270;
  --color-link: #006d95;

  --color-text: #333;
  --color-text-light: #777;
  
  --color-shadow: var(--color-text-light);
  --color-background: #DDD;
  --color-border: var(--color-primary);

  /* Sizes */
  --size-fz: 16px;
  --size-h1: round(nearest, 2em, 1px);
  --size-h2: round(nearest, 1.6em, 1px); /* Fonts act weird with decimal px sizes, so we round them */
  --size-h3: round(nearest, 1.2em, 1px);
  --size-h4: round(nearest, 1em, 1px);
  --size-h5: round(nearest, .8em, 1px);
}


html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  max-height: 100%;
}

body { 
  position: relative;
  background-color: var(--color-background);
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

h1, h2, h3, h4, h5, h6, button {
  font-weight: 400;
  font-family: Roboto, TakaoPGothic, "sans-serif" !important;
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h5 {
  font-size: var(--size-h5);
}

p {
  white-space: pre-line;
}


.content,
.container {
  padding: 0 1em;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 21cm) {
  .content,
  .container {
    max-width: 21cm;
    padding: 1em 2em;
  }
}

.content { 
  z-index: 1;
  padding: 1em;
  width: 100%;
  box-shadow: 0 0 1em var(--color-shadow);
  background-color: var(--color-white);
  margin-bottom: 2em;
}

@media print {
  .content,
  .container {
    width: 20cm;
    padding: 0;
  }

  .content {
    box-shadow: none;
  }

  .pagebreak {
    page-break-before: always;
  }
}

/* Pure-css overrides */

.pure-menu-item .pure-menu-link.active {
  background-color: #EEE;
}

.pure-button.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.pure-button.button-primary:hover {
  background-image: linear-gradient(transparent,rgba(255,255,255,.1) 40%,rgba(255,255,255,.1));
}

a:not(.pure-menu-link), a:visited:not(.pure-menu-link) {
  color: var(--color-link);
}