/* Main color scheme */
$cl-primary: #FF530D;
$cl-secondary: #E80C7A;
$cl-tertiary: #00B270;
$cl-grey: #C0C0C0;

/* Shades */
$cl-shade-1: 10%;
$cl-shade-2: 15%;
$cl-shade-3: 20%;

/* Text */
$cl-text: #333;
$cl-link: $cl-secondary;

/* Password strength */
$cl-password-weak: $cl-secondary;
$cl-password-medium: lighten($cl-secondary, $cl-shade-2);
$cl-password-good: lighten($cl-primary, $cl-shade-1);
$cl-password-excellent: $cl-tertiary;

/* Etc */
$cl-shadow: rgba(0, 0, 0, 0.1);