/* Grids */
$sz-xs: 500px;
$sz-sm: 780px;
$sz-md: 1100px;
$sz-lg: 1330px;
$sz-xl: 1600px;

/* Global */
$sz-footer: 150px;
$sz-navigation: 175px;
$sz-navigation-xs: 250px;
$sz-navigation-after: 30px;
$sz-navigation-list: 10px;

/* Fonts */
$fz-h1: 36px;
$fz-h2: 30px;
$fz-h3: 24px;
$fz-h4: 21px;
$fz-h5: 18px;
$fz-h6: 16px;
$fz-primary: 16px;
$fz-secondary: 14px;
$fz-tertiary: 11px;